@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

$primaryOrange: #ff6b08;
$primaryYellow: #eedd44;
$shadowColor: rgba(0, 0, 0, 0.281);
* {
  color: black;
}
body {
  background-color: rgba(255, 255, 255, 0.151);
  font-family: "Ubuntu Mono", monospace;
  width: 100%;
}

/* Header */
header {
  height: 100svh;
  h1 {
    width: 280px;
    text-align: center;
  }
  #work {
    background: linear-gradient(to right, $primaryOrange, $primaryYellow);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: workText 5s;
  }
  @keyframes workText {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
.blubs {
  position: absolute;
  top: 30%;
  left: 28%;
  #blueblub {
    width: 200px;
    height: 200px;
    background-color: blue;
    position: absolute;
    top: 20% !important;
    border-radius: 50%;
    filter: blur(150px);
    z-index: -2;
  }
  #orangeblub {
    width: 300px;
    height: 300px;
    background-color: orange;
    position: absolute;
    top: 20% !important;
    border-radius: 50%;
    filter: blur(100px);
    z-index: -2;
  }
  #whiteblub {
    width: 200px;
    height: 200px;
    background-color: white;
    position: absolute;
    top: 20% !important;
    border-radius: 50%;
    filter: blur(150px);
    z-index: -2;
  }
  #HeroImg {
    width: 300px;
    height: 300px;
    background-position: center;
    margin-top: 60px;
  }
}

/* nav */
nav {
  position: fixed;
  left: 0;
  top: 42%;
  z-index: 100;
  a {
    text-decoration: none;
    color: black;
  }
  ul {
    list-style-type: none;
    font-size: 20px;
  }
  li {
    margin: 10px;
  }
  .Home::before {
    content: "";
    position: absolute;
    right: 40px;
    left: 40px;
    bottom: 90px;
    height: 2px;
    background-color: $primaryOrange;
    transform: scaleX(0);
    transition: 300ms;
  }
  .Home:hover::before {
    transform: scaleX(1);
  }
  .Projects::before {
    content: "";
    position: absolute;
    right: 10px;
    left: 40px;
    bottom: 50px;
    height: 2px;
    background-color: $primaryOrange;
    transform: scaleX(0);
    transition: 300ms;
  }
  .Projects:hover::before {
    transform: scaleX(1);
  }
  .Contact::before {
    content: "";
    position: absolute;
    right: 17px;
    left: 40px;
    bottom: 10px;
    height: 2px;
    background-color: $primaryOrange;
    transform: scaleX(0);
    transition: 300ms;
  }
  .Contact:hover::before {
    transform: scaleX(1);
  }
  .active::before {
    transform: scaleX(1);
  }
}

/* Project */
.projectsSection {
  margin: 300px 50px;

  .box {
    width: 60em;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.281);
    border-radius: 5px;
  }
  .projectsText {
    text-align: center;
  }
  .projectbtns {
    width: 200px;
    color: black;
    border-radius: 5px;
    transition: 300ms;
  }
  .projectbtns:hover {
    background-color: orange;
  }
  .content {
    height: 350px;
    border-radius: 20px 0 0 20px;
    border: 1px solid rgba(255, 255, 255, 0.169);
  }
}

/* Contact */
.contactSection {
  height: 350px;
  margin: 150px auto;
  #linkedin {
    margin-bottom: 25px;
  }

  /* Footer */
  #copy {
    font-family: "Pacifico", cursive;
    font-size: 15px;
  }
}

//Media-query

@media screen and (max-width: 576px) {
  .blubs {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%);
    #HeroImg {
      background-position: center;
      margin-top: 60px;
    }
  }
  header {
    height: 70svh;
    h1 {
      margin-top: 22em;
      margin-right: 60% !important;
    }
  }
  .projectsSection {
    margin: 300px auto;
    img{
      width: 100%;
    }
    .box {
      width: 100%;
      box-shadow: 0 30px 50px rgba(0, 0, 0, 0.281);
      border-radius: 5px;
      display: flex;
      flex-direction: column;
    }
    .content {
      height: 250px;
    }
  }
  .contactSection {
    p {
      font-size: 14px;
    }
  }
}
