@tailwind base;
@tailwind components;
@tailwind utilities;

body, html, .root{
    box-sizing: border-box;
    background-color: #83C5BE;
    font-family: "EB Garamond", serif;
    background-size: cover;
    min-height: 100vh;
}



