@tailwind base;
@tailwind components;
@tailwind utilities;

body, html, .root{
    box-sizing: border-box;
    background-color: #83C5BE;
    font-family: "EB Garamond", serif;
    background-size: cover;
    min-height: 100vh;
}
.fromTop{
    position: absolute;
    opacity: 1;
    top: 1px;
}
.inLeft{
    position: absolute;
    opacity: 1;
    left: 20%;
}
.inRight{
    position: absolute;
    opacity: 1;
    right: 20px;
}
.inRightMain{
    opacity: 1;
    right: 5%;
}
.appear{
    animation-name: appearAnime;
    animation-duration: 2s;
}
.appear::after:nth-child(0){
    content: "";
    position: absolute;
    top: 3em;
    right: 10%;
    bottom: 85%;
    background-color: #006D77;
    width: 4px;
    animation-name: appearLine;
    animation-duration: 1s;
}
.appear::before{
    content: "";
    position: absolute;
    right: 10%;
    left: 10%;
    background-color: #006D77;
    width: 4px;
}
.hide{
    opacity: 0;
    animation-name: hideAnime;
    animation-duration: 1.5s;
}
.scroll{
    animation-name: Scrollbtn;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes appearAnime {
    from{
        opacity: 0;
        right: 0;
    }
    to{
        opacity: 1;
        right: 50%;
    }
    
}
@keyframes appearLine {
    from{
        bottom: 110%;
    }
    to{
        bottom: 85%;
    }
}
@keyframes hideAnime {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
@keyframes Scrollbtn {
    0%{
        bottom: 35px;
    }
    50%{
        bottom: 40px;
    }
    100%{
        bottom: 35px;
    }
}


@media only screen and (max-width: 600px) {
    .inRightMain{
        right: -35%;
    }
  }